<a href="https://colab.research.google.com/github/IvanPP1018/SIMULACION-1/blob/main/SANTANDER_CORREGIDO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from prettytable import PrettyTable as PT
from datetime import date

In [2]:
#Cargamos el archivo excel
Estatus = "ESTATUS CLIENTES.xlsx"
datos = pd.read_excel(Estatus)

print(datos)

          MES  NUM_CLIENTE           NOMBRE            RFC  INGRESO_MENSUAL
0     Octubre           10       Juan Pérez  PETJ851011TL2            70000
1     Octubre           20  Lolita Martinez  MARL851109YO1             5000
2     Octubre           30  Fernanda Toledo  TOPT911224D3E            20000
3     Octubre           40    Ricardo Gómez  GOHR501001T45             9000
4   Noviembre           10       Juan Pérez  PETJ900910TL2            90000
5   Noviembre           20  Lolita Martinez  MARL861109YO1             7000
6   Noviembre           30  Fernanda Toledo  TOPT911224D3E            20000
7   Noviembre           40    Ricardo Gómez  GOHR501001T45             9000
8   Diciembre           10       Juan Pérez  PETJ900910TL2            90000
9   Diciembre           20  Lolita Martinez  MARL861109YO1             7000
10  Diciembre           30  Fernanda Toledo  TOPT911224D3E            20000
11  Diciembre           40    Ricardo Gómez  GOHR501001T45             9000

In [3]:
ESTATUS1 = "ESTATUS CTAS.xlsx"
datos2= pd.read_excel(ESTATUS1)
print(datos2)

          MES  CUENTA  NUM_CLIENTE PRODUCTO ESTATUS
0     OCTUBRE  234567           10      TDC       A
1     OCTUBRE  654321           10      TDD       A
2     OCTUBRE   98765           20      TDD       A
3     OCTUBRE    1234           30      TDC       A
4     OCTUBRE  543678           40      TDC       A
5   NOVIEMBRE  234567           10      TDC       A
6   NOVIEMBRE  654321           10      TDD       A
7   NOVIEMBRE   98765           20      TDD       A
8   NOVIEMBRE    1234           30      TDC       A
9   NOVIEMBRE  543678           40      TDC       A
10  DICIEMBRE  234567           10      TDC       A
11  DICIEMBRE  654321           10      TDD       C
12  DICIEMBRE   98765           20      TDD       C
13  DICIEMBRE    1234           30      TDC       A
14  DICIEMBRE  543678           40      TDC       A

In [4]:
ESTATUS2 = "OPERACIONES.xlsx"
datos3= pd.read_excel(ESTATUS2)
print(datos3)

          MES FECHA_OPERACIÓN  CUENTA  TIPO OPERACIÓN  IMPORTE
0     OCTUBRE      2024-10-01    1234               1   4000.0
1     OCTUBRE      2024-10-03  654321               2  10000.0
2     OCTUBRE      2024-10-04    1234               1   5000.0
3     OCTUBRE      2024-10-05  654321               1    500.0
4     OCTUBRE      2024-10-05  543678               1    100.0
..        ...             ...     ...             ...      ...
76  DICIEMBRE      2024-12-08  543678               1    100.0
77  DICIEMBRE      2024-12-10  543678               1    400.0
78  DICIEMBRE      2024-12-12  543678               1    500.0
79  DICIEMBRE      2024-12-14  543678               1   1000.0
80  DICIEMBRE      2024-12-16  543678               2   1500.0

[81 rows x 5 columns]

In [5]:
#FECHA_DATOS---- 1)
def fecha(mes):
  try:
    if mes == 10:
      return date(2024,mes,31)
    elif mes == 11:
      return date(2024,mes,30)
    elif mes == 12:
      return date(2024,mes,31)
    else:
      return "Mes no valido"
  except TypeError:
    return "Mes no valido"

#el mes en número
mes = int(input("Ingrese el mes: "))
print(fecha(mes))

Ingrese el mes: 11
2024-11-30

In [6]:
lista_datos = datos.to_dict(orient='records')
print(lista_datos)
#print(lista_datos[0])

[{'MES': 'Octubre', 'NUM_CLIENTE': 10, 'NOMBRE': 'Juan Pérez', 'RFC': 'PETJ851011TL2', 'INGRESO_MENSUAL': 70000}, {'MES': 'Octubre', 'NUM_CLIENTE': 20, 'NOMBRE': 'Lolita Martinez', 'RFC': 'MARL851109YO1', 'INGRESO_MENSUAL': 5000}, {'MES': 'Octubre', 'NUM_CLIENTE': 30, 'NOMBRE': 'Fernanda Toledo', 'RFC': 'TOPT911224D3E', 'INGRESO_MENSUAL': 20000}, {'MES': 'Octubre', 'NUM_CLIENTE': 40, 'NOMBRE': 'Ricardo Gómez', 'RFC': 'GOHR501001T45', 'INGRESO_MENSUAL': 9000}, {'MES': 'Noviembre', 'NUM_CLIENTE': 10, 'NOMBRE': 'Juan Pérez', 'RFC': 'PETJ900910TL2', 'INGRESO_MENSUAL': 90000}, {'MES': 'Noviembre', 'NUM_CLIENTE': 20, 'NOMBRE': 'Lolita Martinez', 'RFC': 'MARL861109YO1', 'INGRESO_MENSUAL': 7000}, {'MES': 'Noviembre', 'NUM_CLIENTE': 30, 'NOMBRE': 'Fernanda Toledo', 'RFC': 'TOPT911224D3E', 'INGRESO_MENSUAL': 20000}, {'MES': 'Noviembre', 'NUM_CLIENTE': 40, 'NOMBRE': 'Ricardo Gómez', 'RFC': 'GOHR501001T45', 'INGRESO_MENSUAL': 9000}, {'MES': 'Diciembre', 'NUM_CLIENTE': 10, 'NOMBRE': 'Juan Pérez', 'RFC': 'PETJ900910TL2', 'INGRESO_MENSUAL': 90000}, {'MES': 'Diciembre', 'NUM_CLIENTE': 20, 'NOMBRE': 'Lolita Martinez', 'RFC': 'MARL861109YO1', 'INGRESO_MENSUAL': 7000}, {'MES': 'Diciembre', 'NUM_CLIENTE': 30, 'NOMBRE': 'Fernanda Toledo', 'RFC': 'TOPT911224D3E', 'INGRESO_MENSUAL': 20000}, {'MES': 'Diciembre', 'NUM_CLIENTE': 40, 'NOMBRE': 'Ricardo Gómez', 'RFC': 'GOHR501001T45', 'INGRESO_MENSUAL': 9000}]

In [7]:
lista_datos2 = datos2.to_dict(orient='records')
#print(lista_datos)
print(lista_datos2[0])

{'MES': 'OCTUBRE', 'CUENTA': 234567, 'NUM_CLIENTE': 10, 'PRODUCTO': 'TDC', 'ESTATUS': 'A'}

In [8]:
lista_datos3 = datos3.to_dict(orient='records')
#print(lista_datos)
print(lista_datos3[0])

{'MES': 'OCTUBRE', 'FECHA_OPERACIÓN': Timestamp('2024-10-01 00:00:00'), 'CUENTA': 1234, 'TIPO OPERACIÓN': 1, 'IMPORTE': 4000.0}

In [9]:
numero_cliente = int(input('Digite número de cliente: '))

Digite número de cliente: 10

In [11]:
#CUENTA------- 2)
cuenta_cliente = datos2[datos2['NUM_CLIENTE'] == numero_cliente]['CUENTA'].unique()
print(cuenta_cliente)

[234567 654321]

In [15]:
#PRODUCTO ------- 3)

def Tarjetas_d_o_c(cuenta_cliente):
  debido_o_credito = []
  for kk in cuenta_cliente:
    for zz in range(len(lista_datos2)):
      if kk == lista_datos2[zz]['CUENTA']:
        if lista_datos2[zz]['PRODUCTO'] == 'TDC':
          nombre = 'TDC'
        else:
          nombre = 'TDD'
    debido_o_credito.append(nombre)
    A12 = debido_o_credito
  return A12

print(Tarjetas_d_o_c(cuenta_cliente))
resultado = [100 if x == 'TDC' else 200 for x in Tarjetas_d_o_c(cuenta_cliente)]
print(resultado)

['TDC', 'TDD']
[100, 200]

In [22]:
#EDAD CLIENTE------ 4)
Lista = [10,20,30,40]

if numero_cliente == Lista[0]:
  rfc = lista_datos[0]['RFC']
elif numero_cliente == Lista[1]:
  rfc = lista_datos[1]['RFC']
elif numero_cliente == Lista[2]:
  rfc = lista_datos[2]['RFC']
elif numero_cliente == Lista[3]:
  rfc = lista_datos[3]['RFC']

#print(rfc)

Fe = rfc[4:10]
#print(Fe)

#print(type(Fe))

año = int(Fe[0:2])
mes = int(Fe[2:4])
dia = int(Fe[4:6])
#print(año)
#print(mes)
#print(dia)

if  25 < año <= 99:
  año = año + 1900
else:
  año = 2000
#print(año)
#print(date(año,mes,dia))
def edad(año,mes,dia):
  hoy = fecha(mes)
  fecha_nacimiento = date(año,mes,dia)
  edad = hoy.year - fecha_nacimiento.year
  return edad

print(edad(año,mes,dia))

39

In [ ]:
#NIVEL SOCIOECONOMICO ----- 5

In [23]:
#NUMERO DE OPERACIONES ----6)

Portador = []
for ii in cuenta_cliente:
  Dat_fes = [{10:'OCTUBRE'},{11:'NOVIEMBRE'},{12:'DICIEMBRE'}]
  contador1 = 0
  contador2 = 0

  for ij in range(len(lista_datos3)):
    for k in range(len(Dat_fes)):
      try:
        if Dat_fes[k][mes] == lista_datos3[ij]['MES']:
          if ii == lista_datos3[ij]['CUENTA']:
            if lista_datos3[ij]['TIPO OPERACIÓN'] == 1:
              contador1 += 1
            else:
              contador2 += 1
      except KeyError:
        pass

  Portador.append(contador1)
  Portador.append(contador2)

print(Portador)

[6, 1, 2, 2]

In [29]:
#SALDO ------ 7

def Saldos(mes):
  Saldo = []
  for ii in cuenta_cliente:
    Dat_fes = [{10:'OCTUBRE'},{11:'NOVIEMBRE'},{12:'DICIEMBRE'}]
    S1 = 0
    for ij in range(len(lista_datos3)):
      for k in range(len(Dat_fes)):
        try:
          if Dat_fes[k][mes] == lista_datos3[ij]['MES']:
            if ii == lista_datos3[ij]['CUENTA']:
              if lista_datos3[ij]['TIPO OPERACIÓN'] == 1:
                S1 -= lista_datos3[ij]['IMPORTE']
              else:
                S1 += lista_datos3[ij]['IMPORTE']
        except KeyError:
          pass
    Saldo.append(S1)
  return Saldo
print(Saldos(mes))

[7949.5, 13700.0]

In [31]:
#PAGO MINIMO ----- 8)


tt = 10
r = 0
while tt <= mes:
  r +=1
  tt += 1

#print(r)

inicio_del_mes = 0
TATA = Tarjetas_d_o_c(cuenta_cliente)
for hh in range(r):
  for xx in range(len(TATA)):
    if TATA[xx] == 'TDC':
      #calculamos el pago mínimo
      Super_duplex = Saldos(mes-r+hh+1)
      if Super_duplex[xx] <= 0:
        pago_minimo = inicio_del_mes*0.4 + Super_duplex[xx]
      else:
        pago_minimo = 0
    else:
      debito = 0
     #print('Debito: ',debito)
    Pago = np.abs(pago_minimo)

  inicio_del_mes = pago_minimo


print('Debito: ',debito)

print('Pago mínimo: ',Pago)

Debito:  0
Pago mínimo:  0

In [33]:
#CUMPLE------- 9

STD = []
for pi in range(len(cuenta_cliente)):
  STD.append({cuenta_cliente[pi]:TATA[pi]})


#print(STD)


Dat_fes = [{10:'OCTUBRE'},{11:'NOVIEMBRE'},{12:'DICIEMBRE'}]
conta = 0


for ii in cuenta_cliente:
  for ij in range(len(lista_datos3)):
    for k in range(len(Dat_fes)):
      try:
        if Dat_fes[k][mes] == lista_datos3[ij]['MES']:
          if ii == lista_datos3[ij]['CUENTA']:
            for kk in range(len(STD)):
              if STD[kk][ii] == 'TDC':
                if lista_datos3[ij]['TIPO OPERACIÓN'] == 2:
                  conta += lista_datos3[ij]['IMPORTE']
      except KeyError:
        pass
#print(conta)

if conta > Pago:
    print("Sí")
else:
    print("No")

Sí